.flt {
    float: left;
    width: 100%;
}


body {
    font-family: sans-serif;
    overflow-x: hidden;
}

/*-----background section-----*/

.head_container {
    background-image: url(../images/banner-1.png);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    width: 100%;

}


/* -------navbar  section--------- */

.navbar {
    padding-top: 20px;
}

.nav li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #000 !important;
}

.nav li a:hover{
    color:#007D65 !important;
}

#home {
    color: #007D65 !important;
}

.navbar-inverse {
    background-color: transparent !important;
    border-color: transparent !important;
}


/* ------heading contents -----*/

.contents .head {
    padding-left: 7%;
}


.contents .heading {
    font-family: Open Sans;
    font-weight: 900;
    font-size: 42px;
}

.contents .para {
    font-size: 25px;
    font-weight: 400;
    color: #007D65;
}

.iphone img {
    float: right;
}

.iphone2 img {
    float: left;
}


/* ------how it works -----*/

.page2 h2 {
    font-weight: 700;
    font-size: 42px;
    text-align: center;
    margin-bottom: 60px;
}

.ride1 {
    font-weight: 700;
    font-size: 34px;
}

.paragraph1 {
    font-weight: 400;
    font-size: 18px;
}

.offer_average {
    padding-left: 12%;
}

/*------Features------*/

.main_fetures .mutiple-para1 {
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    padding: 30px 40px;
    transition: 0.2s all ease-in-out;
}

.main_fetures .mutiple-para1:hover {
    border: 1px solid #5b5b5b;
    transition: 0.2s all ease-in-out;
}


.main_fetures {
    margin-bottom: 70px;
}

.group1 {
    padding-bottom: 20px;
}


.driver1 {
    font-weight: 700;
    font-size: 30px;
}

.lorem1 {
    font-weight: 400;
    font-size: 15px;
}

/*------Testimonial-----*/


.test-right {
    margin-left: 60px;
    line-height: 30px;
}

.lorem23 {
    font-weight: 400;
    font-size: 19px;
}

.testimonial_name {
    font-weight: 700;
    font-size: 19px;
}

.testimonial_name {
    line-height: 25px;
}

.arrow2 {
    margin-left: 30px;
}

.glass .group31 {
    float: right;
    padding-right: 10%;
    margin-bottom: 60px;
}

/*--------contact us----*/

.contact-details input {
    width: 100%;
    height: 45px;
    border: none;
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 213px;
    border: none;
    cursor: pointer;
}

.btn-1 {
    background-color: #00B16E;
    text-align: center;
    width: 113px;
    height: 38px;
    margin-left: 40%;
    border: none;
    line-height: 20px;
    border-radius: 5px;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;
}

.map {
    margin-bottom: 70px;
}

.contact-map img {
    float: right;
}


/*------footer-1------*/

.foot-1 {
    background-image: url(../images/footer-image1.png);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}


.head-1 h2 {
    color: #ffffff;
    font-weight: 700;
    font-size: 42px;
    line-height: 110px;
}

.head-1 p {
    color: #ffffff;
    font-weight: 400;
    font-size: 22px;
}

.head-1 {
    text-align: center;
}


/*-------------footer-2----------*/

.logos {
    background-color: #000;
    color: #ffffff;
    width: 100%;
    padding: 60px;
    padding-left: 15px;
}

.logo-1 h3 {
    font: Roboto;
    font-weight: 900;
    font-size: 25px;
    line-height: 90px;
}

.list4 {
    line-height: 30px;
}


.list4 a {
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
}

.list4 a:hover {
    color: #c2bd1b;
    text-decoration: none;
}

.list4 p {
    font-weight: 500;
    font-size: 13px;
}

/* -----end-footer----*/

.cont-footer {
    width: 100%;
    background-color: #101010;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    line-height: 50px;
}




/* Media Query */

@media (min-width: 320px) and (max-width:479px) {


    .head_container {
        width: 100%;
    }

    .nav li a {
        font-size: 20px;
        font-weight: 700;
    }

    .contents .heading {
        font-size: 34px;
    }

    .contents .para {
        font-size: 26px;
    }

    .page2 h2 {
        font-weight: 700;
        font-size: 32px;
    }

    .ride1 {
        font-weight: 700;
        font-size: 28px;
    }

    .paragraph1 {
        font-weight: 400;
        font-size: 15px;
    }

    .driver1 {
        font-weight: 700;
        font-size: 25px;
    }

    .lorem1 {
        font-weight: 400;
        font-size: 15px;
    }

    .lorem23 {
        font-weight: 400;
        font-size: 15px;
    }

    .testimonial_name {
        font-weight: 700;
        font-size: 15px;
    }

    .head-1 h2 {
        font-weight: 700;
        font-size: 43px;
    }

    .head-1 p {
        font-weight: 400;
        font-size: 26px;
    }

    .logo-1 h3 {
        font-weight: 900;
        font-size: 26px;
    }

    .list4 a {
        font-weight: 500;
        font-size: 17px;
    }

    .list4 p {
        font-weight: 500;
        font-size: 18px;
    }

    .cont-footer p {
        font-size: 18px;
    }

    .list4 {
        line-height: 30px;
    }

    .iphone img {
        float: none;
    }

    .offer_average {
        padding-left: 0%;
    }

}

@media (min-width: 480px) and (max-width: 639px) {}

@media (min-width: 640px) and (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 991px) {}


@media (min-width: 768px) {

    .contents .row {
        display: flex;
        align-items: center;
    }

    .works .row {
        display: flex;
        align-items: center;
    }

    .offer .row {
        display: flex;
        align-items: center;
    }

    .main_fetures .row {
        display: flex;
        align-items: center;
    }

    .glass .row {
        display: flex;
        align-items: center;
    }

    .map .row {
        display: flex;
        align-items: center;
    }
}